<!--<div class="d-flex">-->
<!--  <div class="ml-auto mr-auto" ><img src={{Prod.image}} style="height:200px; width: 200px;"></div>-->
<!--  <div class="ml-auto mr-auto ">-->
<!--  {{Prod.name}}-->
<!--    {{Prod.price}}-->
<!--    {{Prod.details}}-->
<!--  </div>-->
<!--</div>-->

<div class="text-right   ml-auto p-3">
  <button routerLink="/home" class ="btn btn-outline-success my-2 my-sm-0">Go Home</button>
</div>
  <div class="container-fluid mt-5">
    <div class="d-flex">
      <div class="col-sm-5 ml-5 mr-4">
        <img src="{{Prod.image}}" class="card1">
      </div>

      <div >
        <p class="namefont">{{Prod.name}}</p>
        <span class="text-success"><b>Special Price</b></span>
        <h4 ><b class="price">₹{{Prod.price}}</b></h4>
        <p>{{Prod.details}}</p>
        <div class="btn btn-outline-info" (click)="addtocar(loop.productId)" >Add To Cart
        </div>
      </div>

  </div>
</div>
