
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a><div class="text-danger text-center p-2 "><h1>Einkaufen</h1></div></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" navbar-collapse ml-2">

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <a *ngIf="!log.isUserLoggedIn()"  routerLink="/login" class="ml-sm-2 text-success">Login</a>

  <a *ngIf="log.isUserLoggedIn()" routerLink="/orderHistory" class="ml-sm-2 text-success">Orders</a>
  <a *ngIf="log.isUserLoggedIn()" routerLink="usercart" class="ml-sm-2 text-success">MY CART</a>

  <a *ngIf="log.isUserLoggedIn()" (click)="logout()" routerLink="/login" class="ml-sm-2 text-success">LogOut</a>
  <a *ngIf="!log.isUserLoggedIn()" routerLink="/signup" class="ml-sm-2 text-success">Sign Up</a>

</nav>

