
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" navbar-collapse ">
    <ul class="navbar-nav mr-auto">
      <li><a><div class="text-danger text-center p-2 "><h1>Einkaufen</h1></div></a></li>
      <li class="nav-item active">

        <a class="nav-link " routerLink="/home">Home </a>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Link</a>-->
<!--      </li>-->


    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <a routerLink="/login" class="ml-sm-2 text-success">Login</a>
  <a routerLink="/signup" class="ml-sm-2 text-success">Sign Up</a>

</nav>

