<div class="text-right ml-auto p-3">
  <button routerLink="/home" class ="btn btn-outline-success my-2 my-sm-0">Go Home</button>
</div>
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-3 col-sm-6 mr-auto ml-auto">

      <div class="card hovercard">
        <div class="cardheader">

        </div>
        <div class="avatar">
          <img alt="" src="C:\Users\shubham\ecommerce\src\assets\image\profile.jpg">
        </div>
        <div class="info">
          <div class="title">
            <a  target="_blank" >{{dat.email}}</a>
          </div>
          <div class="desc">Customer ID : {{dat.id}}</div>
          <div class="desc">{{dat.authentication}}</div>
          <div class="desc">Tech geek</div>
          <button routerLink="/editprofile" >Edit</button>
        </div>
        <div class="bottom">
          <a class="btn1 btn-primary btn-twitter btn-sm" href="https://twitter.com/login?lang=en">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="btn1 btn-danger btn-sm" rel="publisher"
             href="https://aboutme.google.com/u/0/?referer=gplus">
            <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn1 btn-primary btn-sm" rel="publisher"
             href="https://www.facebook.com/">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="btn1 btn-warning btn-sm" rel="publisher" href="https://www.behance.net/">
            <i class="fa fa-behance"></i>
          </a>
        </div>
      </div>

    </div>

  </div>
</div>
