<div class="container-fluid">

  <div class="card mr-auto ml-auto ">
    <div class="text-center   ml-auto p-3">
      <button routerLink="/home" class ="btn btn-outline-success my-2 my-sm-0">Go Home</button>
    </div>
<table class="table table-striped">
  <thead class="text-center">
    <tr>
      <th>Item Name</th>
      <th>Date</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let i of prod1">
      <td>{{i.itemName}}</td>
      <td>{{i.date}}</td>
      <td>{{i.price}}</td>
      <td>{{i.quantity}}</td>
    </tr>
  </tbody>
</table>

</div>
</div>
