<div class="container-fluid">

  <div class="row">
  <div class="card col-lg-2 mr-auto">
    <div class="card-header"><span><img class="rounded-circle" STYLE="width: 150px;height: 150px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3pBTaB3FoWut8Hl7k9KlTASpn2e7iw_LGI9AcUTgekyGCm-NJyA"></span></div>
    <div class="card-body">
      <div>
        <h6 class="text-info"> Price</h6>
      <label class="checkbox"><input type="checkbox" value="">Below Rs.1000</label>
      <label class="checkbox"><input type="checkbox" value="">Rs. 1000-4000</label>

      <label class="checkbox"><input type="checkbox" value="">Rs. 4000-8000</label>

      <label class="checkbox"><input type="checkbox" value="">Rs. 8000 and above</label>
      </div>
      <div>
        <h6 class="text-info"> Brand</h6>
        <div><label class="checkbox"><input type="checkbox" value="">ADIDAS</label></div>
        <div><label class="checkbox"><input type="checkbox" value="">SKECHERS</label></div>
        <div><label class="checkbox"><input type="checkbox" value="">NIKE</label></div>
        <div><label class="checkbox"><input type="checkbox" value="">VANS</label></div>

      </div>
    </div>

  </div>
    <div class = "card col-lg-9 mr-auto">
      <div class="row">
          <div class="col-lg-3" *ngFor="let loop of infor">
                <div ><img src="{{loop.url}}" style="height: 200px;width: 200px;"></div>
                <div ><h4 class="text-danger">{{loop.Brand}}</h4>
                <div class="p-2">{{loop.Specification}}<div class = "p-2">{{loop.Price}}<span class="p-2" style="text-decoration: line-through"> Rs.2500</span></div>
                <div class="btn btn-outline-info">Add To Cart
                </div>
                </div>
                </div>
          </div>
      </div>
    </div>


  </div>

</div>
