
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class = "navbar-collapse">
  <ul class="navbar-nav mr-auto justify-content-around">

    <li class="nav-item active">

      <a class="nav-link " (click)="getHome()" routerLink="/home">Home </a>
    </li>
    <li class="nav-item active">

      <a class="nav-link " (click)="getElectronics()">Electronics </a>
    </li>
    <li class="nav-item active">

      <a class="nav-link " (click)="getBooks()">Books </a>
    </li>
    <li class="nav-item active">

      <a class="nav-link "  (click)="getSports()">Sports </a>
    </li>
    <li class="nav-item active">

      <a class="nav-link " (click)="getClothes()">Clothing</a>
    </li>

    <!--      <li class="nav-item">-->
    <!--        <a class="nav-link" href="#">Link</a>-->
    <!--      </li>-->


  </ul>
</div>
</nav>
<div class="container-fluid mt-3 mb-5 ml-auto mr-auto ">
  <div class="col-10 ml-auto mr-auto h-70" >
    <ngb-carousel class="carouselimg ml-auto mr-auto">

      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carouselimg2" src="../assets/image/1.jpg" alt="Random second slide">
        </div>
        <!--    <div class="carousel-caption">-->
        <!--      <h3 class="text-dark">No mouse events...</h3>-->
        <!--      <p class="text-dark">This carousel doesn't pause or resume on mouse events</p>-->
        <!--    </div>-->
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carouselimg2" src="../assets/image/2.jpg"  alt="Random third slide">
        </div>
        <!--    <div class="carousel-caption">-->
        <!--      <h3 class="text-dark">No keyboard...</h3>-->
        <!--      <p class="text-dark">This carousel uses customized default values.</p>-->
        <!--    </div>-->
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carouselimg2" src="../assets/image/3.PNG" alt="Random fourth slide">
        </div>
        <!--    <div class="carousel-caption">-->
        <!--      <h3 class="text-dark">And no wrap after last slide.</h3>-->
        <!--      <p class="text-dark">This carousel uses customized default values.</p>-->
        <!--    </div>-->
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="carouselimg2" src="../assets/image/4.jpg" alt="Random fourth slide">
        </div>
        <!--    <div class="carousel-caption">-->
        <!--      <h3 class="text-dark">And no wrap after last slide.</h3>-->
        <!--      <p class="text-dark">This carousel uses customized default values.</p>-->
        <!--    </div>-->
      </ng-template>
    </ngb-carousel>
  </div>
<div class="text-center text-white">
  ___
</div>

<div class="container-fluid">

  <div class="row">
    <div class="card col-lg-2 mr-auto">
      <div class="card-body">
        <div>
          <h6 class="text-info"> Price</h6>
          <label class="checkbox"><input type="checkbox" value="">Below Rs.1000</label>
          <label class="checkbox"><input type="checkbox" value="">Rs. 1000-4000</label>

          <label class="checkbox"><input type="checkbox" value="">Rs. 4000-8000</label>

          <label class="checkbox"><input type="checkbox" value="">Rs. 8000 and above</label>
        </div>
        <div>
          <h6 class="text-info"> Brand</h6>
          <div><label class="checkbox"><input type="checkbox" value="">ADIDAS</label></div>
          <div><label class="checkbox"><input type="checkbox" value="">NIKE</label></div>
          <div><label class="checkbox"><input type="checkbox" value="">XIAOMI</label></div>
          <div><label class="checkbox"><input type="checkbox" value="">SAMSUNG</label></div>
          <div><label class="checkbox"><input type="checkbox" value="">PUMA</label></div>
          <div><label class="checkbox"><input type="checkbox" value="">NIVIA</label></div>

        </div>
      </div>

    </div>
    <div class = "card col-lg-9 mr-auto">
      <div class="row ">
        <div class="col-lg-3 mt-auto mb-auto" *ngFor="let loop of infor">
          <a href="/productDetails/{{loop.productId}}"> <div ><img src="{{loop.image}}" style="height: 200px;width: 200px;"></div></a>
            <div ><h4 class="text-danger">{{loop.details}}</h4>
              <div class=" text-dark">{{loop.subcategory}}<div class = "p-2">{{loop.price}}<span class="p-2" style="text-decoration: line-through"> {{loop.Original}}</span></div>
                <div class="btn btn-outline-info" (click)="addtocar(loop.productId)" >Add To Cart
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>


  </div>

</div>


